<div class="row collapse postfix-radius">
  <div class="small-11 columns">
    <input type="text" placeholder="Team" />
  </div>
  <div class="small-1 columns">
    <a href="#" class="clear">
      <span class="postfix"><i class="fa fa-times"></i></span>
    </a>
  </div>
</div>
