<h3>{{meta.title}} <small>statesman.com</small></h3>
<ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-6">
  {{#each objects}}
    <li><a href="http://www.statesman.com{{url_path}}" target="_blank">{{title}}</a></li>
  {{/each}}
</ul>
