// Import Foundation's settings and functions files, along with Bourbon, so we
// have access to them here
@import 'foundation/functions';
@import 'foundation/settings';
@import '../../bower_components/bourbon/dist/bourbon';
@import 'settings';

h1.page-title, .form {
  @media #{$small-only} {
    padding: 0 12px;
  }
}

body {
  background: #f7f7f7;
  > .row {
    @media #{$medium-up} {
      padding: 20px;
    }
  }
}

.row.form {
  margin-top: 10px;
}

.inline-block {
  display: inline-block;
}

.text-alert .fa-mobile{
  font-size: 25px;
  top: 4px;
  position: relative;
  line-height: 12px;
  margin-right: 4px;
  @media (max-width: 450px) {
    top: 0;
    font-size: 40px;
    position: relative;
    line-height: 40px;
    margin-right: 8px;
    float: left;
  }
}

#share-buttons {
  position: absolute;
  right: 11px;
  top: 11px;
  .button.tiny {
    margin-right: 1px;
    padding: 3px 0 1px 0;
    min-width: 23px;
    background-color: #f7f7f7;
    &.facebook {
      color: #3b5998;
    }
    &.twitter {
      color: #55acee;
    }
  }
  .fa {
    font-size: 15px;
    line-height: 19px;
  }
}

#week {
  .next, .prev {
    &.disabled {
      cursor: default;
      .fa {
        opacity: 0.5;
      }
    }
  }
}

.top-bar .name h1 a {
  @media #{$small-only} {
    padding: 0 0 0 4px;
  }
  img {
    max-height: 26px;
    width: auto;
  }
}

.no-results {
  margin: -1px 8px 12px 8px;
  border: 1px solid #ccc;
  padding: 18px 20px 6px 20px;
  background: #fcfcfc;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

/*
 * Scores
 */
#scores {
  @media #{$small-only} {
    border-top: 1px solid #ccc;
    margin-left: -12px;
    margin-right: -12px;
  }
  > li {
    padding: 6px;
    .inner {
      .columns {
        &.medium-8 {
          width: 71%;
        }
        &.medium-4 {
          width: 29%;
        }
      }
      @media #{$medium-up} {
        border-radius: 3px;
      }
      &.faved {
        background: #efefef;
        border-width: 2px;
      }
      font-size: 13px;
      border: 1px solid #ccc;
      padding: 8px 10px;
      background: #fcfcfc;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
      .team {
        line-height: 15px;
      }
      .team-name {
        text-transform: uppercase;
        font-weight: 600;
      }
      .away-team {
        margin-bottom: 4px;
      }
      .game-meta {
        font-size: 0.85em;
        margin-top: 3px;
        hr {
          border-color: #efefef;
          margin: 3px 0;
        }
        .fa {
          margin-right: 2px;
          color: #ccc;
        }
      }
      .game-time {
        font-weight: 600;
        line-height: 14px;
        font-size: 11px;
      }
      &.faved .game-meta {
        hr {
          border-color: #ccc;
        }
      }
      .fa-chevron-right {
        display: none;
      }
      .mascot {
        font-size: 0.9em;
        color: #555;
      }
      .winner {
        font-weight: 700;
        .mascot {
          font-weight: normal;
        }
        .fa-chevron-right {
          color: $primary-color;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
    @media #{$small-only} {
      padding: 0 12px;
      .inner {
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
      }
    }
  }
}


/*
 * Fave stars
 */
.fav-home, .fav-away {
  margin-left: 3px;
  opacity: .35;
  @media #{$medium-up} {
    &:hover {
      opacity: 1;
    }
  }
  &.faved {
    opacity: 1;
    color: #FFDD4D;
  }
}


/*
 * News
 */
#stories {
  h3 {
    line-height: 1.4rem;
    margin-bottom: 10px;
    @media #{$medium-up} {
      margin-top: 25px;
    }
  }
  [class*="block-grid-"] {
    font-size: 14px;
  }
  @media #{$small-only} {
    padding: 15px;
    [class*="block-grid-"] {
      font-size: 13px;
      margin: 0 0 0 1.25rem;
      > li {
        padding-bottom: 0.25em;
        list-style: square;
        display: list-item;
        padding-left: 0;
      }
    }
  }
  @media #{$large-up} {
    [class*="block-grid-"] > li {
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
  }
}


/*
 * Game detail pages
 */
.game-detail {
  > .columns > .row {
    padding: 10px 15px;
    .inner {
      padding: 20px 0;
      border: 1px solid #ccc;
      background: #fcfcfc;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
      .bar-wrapper {
        width: 95%;
        @media #{$medium-up} {
          width: 60%;
        }
        .bar {
          height: 12px;
          float: left;
          background: $primary-color;
          margin-right: 6px;
          margin-top: 3px;
        }
        .field-label {
          font-size: 12px;
          margin-top: -2px;
          margin-bottom: 6px;
        }
      }
      .text-right {
        .bar-wrapper {
          float: right;
          .bar {
            margin-left: 6px;
            margin-right: 0;
            float: right;
          }
        }
      }
      .rushing .bar {
        background: #397161;
      }
      .passing .bar {
        background: #B8B85B;
      }
      .score {
        h1 {
          font-size: 65px;
        }
        .field-label {
          margin-top: -9px;
        }
      }
      .game-meta {
        background: $primary-color;
        color: white;
        padding: 10px 8px;
        margin-top: 20px;
        .meta-item {
          display: inline-block;
          padding: 0 10px;
          .fa {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

table.box-score {
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  tr {
    background: #fcfcfc;
  }
  .header-row {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    background: #F9F9F9;
  }
  .team-name {
    border-right: 1px solid #ccc;
    background: #F9F9F9;
  }
}

/*
 * Page footer
 */
.advertising {
  margin-bottom: 20px;
}

#footer {
  margin-top: 10px;
}
