// Import Foundation's settings and functions files, along with Bourbon, so we
// have access to them here
@import 'foundation/functions';
@import 'foundation/settings';
@import '../../bower_components/bourbon/dist/bourbon';
@import 'settings';

h1, form {
  @media #{$small-only} {
    padding: 0 12px;
  }
}

body {
  background: #f7f7f7;
  > .row {
    @media #{$medium-up} {
      padding: 20px;
    }
  }
}

.text-alert .fa-mobile{
  font-size: 25px;
  top: 4px;
  position: relative;
  line-height: 12px;
  margin-right: 4px;
  @media (max-width: 450px) {
    top: 0;
    font-size: 40px;
    position: relative;
    line-height: 40px;
    margin-right: 8px;
    float: left;
  }
}

/*
 * Scores
 */
#scores {
  @media #{$small-only} {
    border-top: 1px solid #ccc;
  }
  > li {
    padding: 6px;
    .inner {
      @media #{$medium-up} {
        border-radius: 3px;
      }
      &.faved {
        background: #efefef;
        border-width: 2px;
      }
      font-size: 12px;
      border: 1px solid #ccc;
      padding: 5px 8px;
      background: #fcfcfc;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
      .team {
        line-height: 13px;
        .fav-home, .fav-away {
          margin-right: 2px;
          opacity: .35;
          &:hover {
            opacity: 1;
          }
          &.faved {
            opacity: 1;
            color: #FFDD4D;
          }
        }
      }
      .team-name {
        text-transform: uppercase;
        font-weight: 600;
      }
      .away-team {
        margin-top: 2px;
        margin-bottom: 3px;
      }
      .game-meta {
        font-size: 0.85em;
        @media #{$medium-up} {
          border-top: 1px solid #efefef;
          padding-top: 1px;
          margin-top: 6px;
        }
        .game-time {
          font-weight: 600;
        }
      }
      &.faved .game-meta {
        @media #{$medium-up} {
          border-top-color: #ccc;
        }
      }
      .fa-chevron-right {
        display: none;
      }
      .mascot {
        font-size: 0.9em;
        color: #555;
      }
      .winner {
        font-weight: 700;
        .mascot {
          font-weight: normal;
        }
        .fa-chevron-right {
          color: $primary-color;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
    @media #{$small-only} {
      padding: 0 12px;
      .inner {
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
      }
    }
  }
}

/*
 * News
 */
 /*
#stories {
  margin-top: 40px;
}
@media #{$small-only} {
  [class*="block-grid-"] {
    margin: 0 0 0 1.25rem;
    > li {
      padding-bottom: 0.25em;
      list-style: square;
      display: list-item;
      padding-left: 0;
    }
  }
} */

/*
 * Page footer
 */
.advertising {
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
}
