// Import Foundation's settings and functions files, along with Bourbon, so we
// have access to them here
@import 'foundation/functions';
@import 'foundation/settings';
@import '../../bower_components/bourbon/dist/bourbon';
@import 'settings';

body {
  @media #{$medium-up} {
    padding: 15px;
  }
}

h1, form {
  @media #{$small-only} {
    padding: 0 12px;
  }
}

/*
 * Scores
 */
#scores {
  @media #{$small-only} {
    border-top: 1px solid #ccc;
  }
  > li {
    padding: 6px;
    .inner {
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid #ccc;
      padding: 5px 8px;
      background: #fcfcfc;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
      .game-meta {
        font-size: 0.85em;
      }
      .fa-chevron-right {
        display: none;
      }
      .mascot {
        font-size: 0.9em;
        color: #555;
        text-transform: none;
      }
      .winner {
        font-weight: 700;
        .fa-chevron-right {
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
    @media #{$small-only} {
      padding: 0 12px;
      .inner {
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
      }
    }
  }
}

/*
 * News
 */
 /*
#stories {
  margin-top: 40px;
}
@media #{$small-only} {
  [class*="block-grid-"] {
    margin: 0 0 0 1.25rem;
    > li {
      padding-bottom: 0.25em;
      list-style: square;
      display: list-item;
      padding-left: 0;
    }
  }
} */

/*
 * Page footer
 */
.advertising {
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
}
