// Import Foundation's settings and functions files, along with Bourbon, so we
// have access to them here
@import 'foundation/functions';
@import 'foundation/settings';
@import '../../bower_components/bourbon/dist/bourbon';
@import 'settings';

body {
  background: url('http://subtlepatterns.com/patterns/micro_carbon.png');
}

/*
 * Scores
 */
#scores {
  color: #fff;
  > li {
    padding: 6px;
    .inner {
      border-radius: 1px;
      padding: 5px 8px;
      background: #222;
    }
  }
}

/*
 * News
 */
 /*
#stories {
  margin-top: 40px;
}
@media #{$small-only} {
  [class*="block-grid-"] {
    margin: 0 0 0 1.25rem;
    > li {
      padding-bottom: 0.25em;
      list-style: square;
      display: list-item;
      padding-left: 0;
    }
  }
} */

/*
 * Page footer
 */
.advertising {
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
}
