// Import Foundation's settings and functions files, along with Bourbon, so we
// have access to them here
@import 'foundation/functions';
@import 'foundation/settings';
@import '../../bower_components/bourbon/dist/bourbon';
@import 'settings';

/*
 * Scores
 */
.scoreboard {
  width: 100%;
  #scores {
    td.winner {
      background: $secondary-color;
    }
  }
}

/*
 * News
 */
@media #{$small-only} {
  [class*="block-grid-"] > li {
    padding-bottom: 0.25em;
  }
}

/*
 * Page footer
 */
.advertising {
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
}
