// Make sure the charset is set appropriately
@charset "UTF-8";

// Normalize, then import our custom theme/settings
@import 'normalize';
@import 'settings';

// Then bring in Foundation components -- but only the ones we're using.
// The full list is in /bower_components/foundation/scss/foundation.scss
@import "foundation/components/grid";
@import "foundation/components/tables";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
@import "foundation/components/visibility";
@import "foundation/components/top-bar";

// Finally, bring in our custom styles for this app.
@import "app";
